p {
  color: var(--font-color-primary);
}

.btn {
  font-weight: var(--font-weight-secondary);
  background-color: var(--color-accent-red);
  border-color: var(--font-color-primary);
  border-radius: 10px;
}

.btn:hover {
  font-weight: var(--font-weight-secondary);
  color: var(--color-accent-red);
  background-color: var(--font-color-primary);
  border-color: var(--color-accent-red);
  border-radius: 10px;
}
