
.nav-check:checked ~ .nav-label {
  background-color: var(--color-accent-blue);
}

a {
  color: var(--font-color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-accent-red);
}

.nav {
  display: none;
}

.nav-label {
  top: -100px;
}

#nav-check:checked ~ .nav {
  display: block;
}

.nav-close {
  display: none;
}

#nav-check:checked ~ .toggle-btn .nav-open {
  display: none;
}

#nav-check:checked ~ .toggle-btn .nav-close {
  display: block;
}

@media only screen and (min-width: 38em) {

  .nav-check,
  .nav-open,
  .nav-close {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav ul li {
    display: inline-block;
  }

@media only screen and (min-width: 60em) {




@media only screen and (min-width: 90em) {

}
