header {
  text-align: center;
  position: relative;
}

.nav {
  list-style-type: none;
  display: none;
  position: absolute;
}

a {
  color: var(--font-color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-accent-red);
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
}

.nav-label {
  width: 40px;
  display: inline-block;
  position: absolute;
}

i {

}

.nav-check:checked ~ .nav-label {
  background-color: var(--color-accent-blue);
}

@media only screen and (min-width: 25em) {

  .nav {
    width: 100%;
  }

  .nav li {
    float: left;
    width: 50%;
  }

}

@media only screen and (min-width: 38em) {

  .nav-check,
  .nav-open {
    display:
  }

  .nav {
    display: inline-block;
    position: static;
  }

  .nav li {
    float: none;
    width: auto;
    display: inline-block;
  }

@media only screen and (min-width: 60em) {



@media only screen and (min-width: 90em) {

}
