:root {
  --color-primary: #404040;
  --color-primary-light: #707070;
  --color-accent-red: #d52d3e;
  --color-accent-green: #98d75c;
  --color-background: #404040;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Orbitron", sans-serif;
  --font-color-primary: #fff;
  --font-color-secondary: #404040;
  --font-weight-primary: normal;
  --font-weight-secondary: bold;
  --font-style-primary: normal;
  --font-style-secondary: italic;
  --text-transform-primary: capitalize;
  --text-decoration-primary: line-through;
  --text-decoration-secondary: underline;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-secondary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

h2 {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-secondary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

h3 {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-secondary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

h4 {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-secondary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

h5 {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-secondary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

h6 {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-secondary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

ul {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

ol {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

dl {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

a {
  color: var(--color-accent-blue);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

blockquote {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

cite {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-secondary);
  font-family: var(--font-primary);
}

em {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-secondary);
  font-family: var(--font-primary);
}

strong {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-secondary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

del {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
  text-decoration: var(--text-decoration-primary);
}

ins {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
  text-decoration: var(--text-decoration-secondary);
}

abbr {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
  text-transform: var(--text-transform-primary);
}

dfn {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-secondary);
  font-family: var(--font-primary);
}

i {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-secondary);
  font-family: var(--font-primary);
}

b {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-secondary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

mark {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
  background-color: var(--color-accent-blue);
}

q {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
}

s {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
  text-decoration: var(--text-decoration-primary);
}

u {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-primary);
  font-style: var(--font-style-primary);
  font-family: var(--font-primary);
  text-decoration: var(--text-decoration-secondary);
}

.btn-standard {
  font-weight: var(--font-weight-secondary);
  background-color: var(--color-accent-red);
  border-color: var(--font-color-primary);
  border-radius: 10px;
}

.btn:hover {
  font-weight: var(--font-weight-secondary);
  color: var(--color-accent-red);
  background-color: var(--font-color-primary);
  border-color: var(--color-accent-red);
  border-radius: 10px;
}

.btn-light {
  font-weight: var(--font-weight-secondary);
  color: var(--color-accent-red);
  background-color: var(--font-color-primary);
  border-color: var(--color-accent-red);
  border-radius: 10px;
}

.btn-light:hover {
  font-weight: var(--font-weight-secondary);
  color: var(--font-color-primary);
  background-color: var(--color-accent-red);
  border-color: var(--font-color-primary);
  border-radius: 10px;
}

.btn-ghost {
  font-weight: var(--font-weight-secondary);
  color: var(--font-color-primary);
  background-color: transparent;
  border-color: var(--font-color-primary);
  border-radius: 10px;
}

.btn-ghost:hover {
  font-weight: var(--font-weight-secondary);
  color: var(--color-accent-red);
  background-color: transparent;
  border-color: var(--color-accent-red);
  border-radius: 10px;
}

.btn-no {
  font-weight: var(--font-weight-secondary);
  background-color: var(--color-accent-red);
  border-color: var(--font-color-primary);
  border-radius: 10px;
}

.btn-no:hover {
  font-weight: var(--font-weight-secondary);
  background-color: var(--color-primary-light);
  border-color: var(--font-color-primary);
  border-radius: 10px;
}

.btn-yes {
  font-weight: var(--font-weight-secondary);
  color: var(--font-color-primary);
  background-color: var(--color-accent-green);
  border-color: var(--font-color-primary);
  border-radius: 10px;
}

.btn-yes:hover {
  font-weight: var(--font-weight-secondary);
  background-color: var(--color-primary-light);
  border-color: var(--font-color-primary);
  border-radius: 10px;
}

.basic-card {
  font-weight: var(--font-weight-secondary);
  color: var(--font-color-primary);
  background-color: var(--color-primary-light);
  border-color: var(--font-color-primary);
  border-radius: 10px;
}

.icon-card {
  font-weight: var(--font-weight-secondary);
  color: var(--font-color-primary);
  background-color: var(--color-accent-red);
  border-color: var(--font-color-primary);
  border-radius: 10px;
}

.banner-p {
  color: var(--font-color-primary);
  font-size: 1.1em;
}

.info-card {
  max-width: 250px;
}

.info-card-h1 {
  font-size: 1.1em;
  color: var(--font-color-secondary);
}

.top-of-page-banner {
  background-image: linear-gradient(25deg, var(--color-primary) 50%, var(--color-primary-light) 50%);
  background-repeat: no-repeat;
  color: var(--font-color-primary);
}
